  <p>Sign In</p>
  <form action="/dashboard" method="post" >
  <p>E-mail:</p>
  <input type="text" name="email">
  <p>Password:</p><br>
  <input type="text" name="password">
  <input type="submit" value="Sign in">
  </form>